<div class="post">
    <div class="heder">
        <h1>Post title</h1>
        <button routerLink="/"
        class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Автор</strong>
        <small>12/09/2020</small>
    </div>
    <div>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore iste quibusdam nesciunt aliquam eum? At ipsum incidunt quae doloremque dolores temporibus quam tempore nulla, sed nostrum commodi vitae, facilis obcaecati! Temporibus, tempora aliquid reprehenderit maiores sint qui molestiae eum expedita incidunt numquam ipsam error obcaecati, omnis doloremque blanditiis eveniet consectetur!</P>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore iste quibusdam nesciunt aliquam eum? At ipsum incidunt quae doloremque dolores temporibus quam tempore nulla, sed nostrum commodi vitae, facilis obcaecati! Temporibus, tempora aliquid reprehenderit maiores sint qui molestiae eum expedita incidunt numquam ipsam error obcaecati, omnis doloremque blanditiis eveniet consectetur!</P>

    </div>
</div>